@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Limelight&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

:root {
  --limelight: "Limelight", sans-serif;
  --domine: "Domine", serif;
  --open: "Open Sans", sans-serif;

  --primary: #005e42;
  --secondary: #ecf7a3;
  --background: #ffffff;
  --foreground: #09090b;
  --hover: #f4f4f5;
  --destructive: #ef4444;
  --border: #e4e4e7;
}

@theme {
  --font-special: var(--limelight);
  --font-heading: var(--domine);
  --font-body: var(--open);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-hover: var(--hover);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
}

@layer base {
  body {
    @apply font-body bg-background text-foreground h-full;
  }
}

@layer components {
  .fluid {
    @apply mx-auto w-full max-w-4xl px-4;
  }

  .article-card-container {
    @apply grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
  }
}
